
.hero-img{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 29rem;
    align-items: center;
    align-content: center;
}

.logo-img{
    width: 50px;
}

.logo-img:hover{
    cursor: pointer;
}

.p-4 {
    padding: 0rem 1rem 0rem 1rem;
}

.About-img{
    height: 32rem;
    width: 100%;
}

.para-box{
    width: 19rem;
    height: 9rem;
    padding-top: 32px;
}

.py-16{
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.contact-banner{
    background-image: url(../Images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    align-items: center;
    align-content: center;
}




